# Database url - MYSQL
DATABASE_URL=

# Next auth secret
# can be generated using `` openssl rand -base64 32 `` command
AUTH_SECRET=

# Github authentication
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google authentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend API
RESEND_API_KEY=

# Public app URL
NEXT_PUBLIC_APP_URL=

# SMTP Email
SMTP_EMAIL=
SMTP_PASSWORD=

# Edge Store for file upload
EDGE_STORE_ACCESS_KEY=
EDGE_STORE_SECRET_KEY=

# Default user password
DEFAULT_USER_PASSWORD=